body {
	margin: 0px 0px;
	background-color: rgb(235, 235, 235);
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.title,
.subtitle {
	background-color: black;
	color: white;
	font-family: "Courier New", monospace;
	text-align: center;
	padding: 15px 0px;
}

.title {
	font-size: 50px;
	margin: 0px 0px;
}

.subtitle {
	font-size: 25px;
	width: 600px;
	margin: 0px 7px;
}

.img {
	margin: 10px 5px 0px 5px;
	border-style: dashed;
	border-width: 2px;
	border-color: black;
	width: 600px;
	height: auto;
}

.description {
	font-family: "Arial", sans-serif;
	font-size: 20px;
	border-style: none none none solid;
	border-color: black;
	border-width: 15px;
	width: 575px;
	margin: 7px;
	padding: 5px 0px 5px 10px;
	background-color: white;
}

.content,
.index-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    flex-wrap: wrap;
    gap: 32px;
}

.list {
	margin: 5px 5px;
	padding: 10px 24px;
	background-color: white;
	width: 600px;
}

.list.index {
	border-style: double double double solid;
	border-color: black;
	border-width: 2px 2px 2px 15px;
	border-radius: 3px;
}

.list.ingredients,
.list.steps {
	border-width: 3px;
	border-color: black;
	font-family: "Verdana", sans-serif;
	font-weight: bold;
	font-size: 15px;
}

.list.ingredients {
	border-style: double;
}

.list.steps {
	border-style: dotted;
}

.list ul{
	margin: 0px;
}

.index-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.index-button {
	padding: 10px;
	margin: 7px 5px;
	background-color: black;
	min-width: 300px;
	text-align: left;
	border-radius: 5px;
	border-style: none;
    color: white;
    display: flex;
}

.index-button a {
	color: white;
	font-size: 17px;
	font-weight: bold;
	text-decoration: none;
	font-family: "Lucida Console", monospace;
    flex: 1;
    display: flex;
    justify-content: center;
}
